.image {
  z-index: 99;
  display: flex;
  width: 100%;
  justify-content: center;
}

.imageList {
  object-fit: contain;
  width: 100px !important;
  height: 100px !important;
  position: relative !important;
}

.imageOther {
  object-fit: cover;
  width: 250px !important;
  position: relative !important;
  height: unset !important;
}

@media (max-width: 600px) {
  .image div img {
    object-fit: contain;
    width: 250px !important;
    height: 250px !important;
  }
}

@media (max-width: 490px) {
  .imageList {
    object-fit: contain;
    width: 50px !important;
    height: 50px !important;
  }

  .imageOther {
    object-fit: cover;
    width: 100px !important;
    position: relative !important;
    height: unset !important;
  }
}
